.icon{
  width: 15px;
  height: 15px;
}
.acrive-red{
  color: red;
  border-bottom: 2px solid red;
}
.bg-gray-ss{
  background-color: beige;
}
.noOrder{
  width: 160px;
  height: 160px;
  background-size: 244px 208px;
  background-position: 0px 0px;
  background-image: url('https://cdngarenanow-a.akamaihd.net/shopee/shopee-seller-live-vn/rootpages/static/img/sprite.modules.order-mass.src.containers.ship.OrderListContainer.28d7206.png');
}
.request{
  border-left: rgb(0, 183, 255) solid 3px;
  border-bottom: #ecf0f5  solid 1px;
}
.ship{
  border: solid 1px red;
}
