<div class="container">
    <form>
        <div class="form-group">
          <label for="">Name Place</label>
          <input type="text" class="form-control" name="p1" id="" aria-describedby="helpId" placeholder="" [(ngModel)]="itemPlace.Place">
          <small id="helpId" class="form-text text-muted">please choose place perfect!</small>
        </div>
        <div class="form-group">
            <label for="">Address</label>
            <input type="text" class="form-control" name="p2" id="" aria-describedby="helpId" placeholder="" [(ngModel)]="itemPlace.Address">
            <small id="helpId" class="form-text text-muted">text</small>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="">Money</label>
                <input type="number" class="form-control" name="p3" id="" aria-describedby="helpId" placeholder="" [(ngModel)]="itemPlace.Money">
                <small id="helpId" class="form-text text-muted">Number</small>
            </div>
            <div class="form-group col-md-6">
                <label for="">Time</label>
                <input type="date" class="form-control"  name="p4" id="" aria-describedby="helpId" placeholder=""  [(ngModel)]="itemPlace.Time">
                <small id="helpId" class="form-text text-muted">YYYY-MMM-DD 2019-11-09</small>
            </div>
            <!-- <input type="date" class="form-control" [value]="now | date:'yyyy-MM-dd'" [(ngModel)]="dateStart"> -->
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div>
              <form [formGroup]="form "  class="w-70 d-flex justify-content-between">
                <input
                  type="file"
                  name="avatar"
                  (change)="processSelectedFiles($event)"
                />
                <div class="ml-5">
                    <!-- *ngIf="uploadResponse.status === 'progress'" -->
                    <div
                      role="progressbar"
                      [style.width.%]="uploadResponse.message"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      class="text-success mb-2"
                    >
                      {{success }}
                    </div>
                  </div>
              </form>
            </div>
        </div>
        <div class="row my-4 d-flex justify-content-center">
            <a class="add2 p-2" (click)="add()">Add Place</a>
        </div>
    </form>
</div>
