
      <div class=" my-5 mx-2">
        <h1 class="d-flex justify-content-center">Design layout</h1>
        <p class="d-flex justify-content-center">Choose layout really beautiful</p>
      </div>
     <div class="container-fluid">
        <div class="page">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <img
                  class="img" src="/assets/img/img/layout1.png"
                />
                <div class="diplay-bot"><a class="p-2 addCf"  (click)="choose_layout('layout1')"  >Layout 1</a> </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <img
                  class="img" src="/assets/img/img/layout2.png"
                />
                <div class="diplay-bot"><a class="p-2 addCf"  (click)="choose_layout('layout2')" >Layout 2</a> </div>
              </div>

            </div>
          </div>
     </div>

