<app-header class="fulls w-100" id="header"></app-header>
<div class="container-fluid bg-1">
  <div class="page d-flex justify-content-center">
    <div class="text-white">
      <h1 class=" d-flex justify-content-center">PAGE ERROR</h1>
      <h5>Please press f5 to reload the page or revisit the link</h5>
      <div class="link d-flex justify-content-center" [routerLink]="['/home']">Back Home -></div>
      <div class="load d-flex justify-content-center" [routerLink]="['/home']"><app-load1></app-load1></div>
    </div>
  </div>
</div>
