
<div class="page">
  <div class="categoty my-4">
    <app-category-list></app-category-list>
  </div>
  <div class="row m-0">
    <img class="wel" src="https://wallpapersite.com/images/pages/pic_w/14098.jpg" alt="">
  </div>
    <div class="layout1">
      <app-form-add-brand
      [Link1]="
        'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-ub19-sustain-glp-m-mh-small-runner-d_tcm221-383363.jpg'
      "
      [Link2]="
        'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-ub19-sustain-glp-m-mh-small-runner-t_tcm221-383365.jpg'
      "
      [Link3]="
        'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-ub19-sustain-glp-m-mh-small-runner-m_tcm221-383364.jpg'
      "
      [img]="
        'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-ub19-sustain-glp-m-mh-small-runner-d_tcm221-383363.jpg'
      "
      [lable]="'ULTRABOOST 19'"
      [title]="
        'Comfort, responsiveness, and style. There`s nothing like Ultraboost 19—now in all-new colors.'
      "
      [bt1]="'SHOP NOW'"
      [bt2]="'LEARN MORE'"
      [checkBt]="false"
      [router1]="'/Shop/mall/ShoesMen'"
      [router2]="'/Shop/Shop-Gender/men'"

    ></app-form-add-brand>
    <div class="type d-flex justify-content-center">  MEN</div>
  </div>

  <div class="layout2">
      <app-form-add-brand
      [Link1]="
        'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/FW19_ADICOLOR_ONSITES_WOMENSGLP_MH-DT_tcm221-365714.jpg'
      "
      [Link2]="
        'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/FW19_ADICOLOR_ONSITES_WOMENSGLP_MH-T_tcm221-365716.jpg'
      "
      [Link3]="
        'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/FW19_ADICOLOR_ONSITES_WOMENSGLP_MH-M_tcm221-365715.jpg'
      "
      [img]="
        'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/FW19_ADICOLOR_ONSITES_WOMENSGLP_MH-DT_tcm221-365714.jpg'
      "
      [checkBt]="true"
      [bt1]="'SHOP NOW'"
      [bt2]="'SHOP ALL ADICOLOR'"
      [lable]="'DARE TO CREATE'"
      [title]="'These boots come with some conditions. Take the deal.'"
      [router1]="'/Shop/mall/ShoesWomen'"
      [router2]="'/Shop/Shop-Gender/women'"
    >
      </app-form-add-brand>
      <div class="type d-flex justify-content-center">WOMEN</div>
  </div>

  <div class="layout3">
      <app-form-add-brand
        [Link1]="
          'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-bb-boost-ub19-launch-glp-k-mh-small-1-d_tcm221-383044.jpg'
        "
        [Link2]="
          'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-bb-boost-ub19-launch-glp-k-mh-small-1-t_tcm221-383046.jpg'
        "
        [Link3]="
          'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-bb-boost-ub19-launch-glp-k-mh-small-1-m_tcm221-383045.jpg'
        "
        [img]="
          'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-bb-boost-ub19-launch-glp-k-mh-small-1-d_tcm221-383044.jpg'
        "
        [lable]="'ULTRABOOST 19: NEW COLORS'"
        [title]="
          'Now available: Fresh colors. New energy.'
        "
        [bt1]="'SHOP NOW'"
        [bt2]="'EXPLORE MORE'"
        [checkBt]="false"
        [router1]="'/Shop/mall/ShoesKids'"
        [router2]="'/Shop/Shop-Gender/kids'"
      ></app-form-add-brand>
      <div class="type d-flex justify-content-center">KIDS</div>
    </div>
</div>

