<div class="font-size-2r text-danger my-3 d-flex justify-content-center upCase titles">Card Info product</div>

<div class="page d-flex justify-content-center align-items-center">
  <div class="row info">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <img class="img" src="{{ item.Img1 }}" />
    </div>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 border-lefts">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div>Name Product:</div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <div class="upCase rainbow-text pl-3">{{ item.Name_Product }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div>Price:</div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <div class="upCase rainbow-text pl-3">{{ item.Price }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div>Catefory:</div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <div class=" rainbow-text pl-3">
            {{ item.Catefory1 }}/{{ item.Catefory1 }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div>Sale:</div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <div class="upCase rainbow-text pl-3">{{ item.Sale }}%</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div>Details:</div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <div class=" rainbow-text pl-3">see...</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div>Point:</div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <div class="upCase rainbow-text pl-3">{{ item.Point }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div>Trademark:</div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <div class=" rainbow-text pl-3">{{ item.Trademark }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div>Material:</div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <div class="upCase rainbow-text pl-3">{{ item.Material }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div>	Origin:</div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <div class="upCase rainbow-text pl-3">{{ item.Origin }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div>Warehose:</div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <div class="upCase rainbow-text pl-3">{{ item.Warehose }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div>Charity:</div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <div class="upCase rainbow-text pl-3">{{ item.Charity }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div>Display:</div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <div class="upCase rainbow-text pl-3">{{ item.Display }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
