.page{
  width: 100%;
  height: 100vh;
   background-image: url(https://www.ngoisaoso.vn/uploads/news/2015/03/19/Best-Website-Background-Images28.jpg);
}
.img{
  width: 100%;
}
.info{
  padding: 50px;
  width: 60rem;
  background-color: #CAF4FF;
  position: absolute;
  align-items: center;
  z-index: 100;
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.border-lefts{
  border-left: 5px dashed blue;
}
.titles{
  position: absolute;
  text-align: center;
  left: 0;
  right:0 ;
}
