
.textWhite {
  color: white;
  text-transform: uppercase;
  font-family: Helvetica;
}
.ts1 {
  font-size: 0.8rem;
}
.ts2 {
  font-size: 1rem;
}
.container {
  max-width: 1200px;
}
.bg-black {
  background: black !important;
  position: relative;
}
.icon-sq{
  position: absolute;
  top: -25px;
}
.a {
  display: flex;
  width: 100%;
  height: 48px;
}
.search {
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}

.container-fluit {
  transition: transform 0.5s ease 0.2s;
  will-change: transform;
}
a:hover {
  background: white;
  color: black !important;
  cursor: pointer;
}
.bgRD {
  border-radius: none;
}
.group-text {
  border-radius: 0rem !important;
}
.border-rights {
  border-right: 1px solid white;
}
.input-group-text {
  border: none;
  border-radius: none;
}
.point {
  cursor: pointer;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.input-group {
  flex-wrap: nowrap !important;
}
.diplays {
  display: none !important;
  position: relative;
  height: 90px;
}

@media screen and (max-width: 990px) {
  .web {
    display: none;
  }
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
  .diplays {
    display: flex !important;
  }
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
.colorWhite{
  color: white !important;
}
a:hover{
  text-decoration: none !important;
}
.bg-drop{
  background: #555556
}
.modal-backdrop.fade.in {
  z-index: -1;
}

.notification {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}



.notification .badge {
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
// .width-content{
//   width: 120rem !important;
//   left: -530px;
// }

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 200px;
  left: 0;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}



// hide point ul
.menu{
  width: 100%;
  height: 100%;
  background-color: #eee;
  transition: 1s;

}
.menu ul{
  list-style: none;
  margin: 0;
  padding-left: 0;
  background-color: #333;
  height: 100%;
}
.menu ul li ul p{
  padding: 12px;
  margin-bottom: 0;
}
//location drop right
.menu ul li ul{
  background-color: black;
  position: absolute;
  left: 100%;
  top: 0;
  width: 200px;
}
.menu ul li{
 // padding: 15px;
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  cursor: pointer;
}
.menu ul ul{
   transition: all 0.3s;
   opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 1000;
}

.menu ul li ul li{
  width: 100%;
  background-color: #2C3B41;
}
.menu ul li:hover  ul{
  opacity: 1;
  visibility: visible;
}
.menu ul li:hover{
  background-color: black;
}
.childe:hover{
  background-color: blanchedalmond !important;
  color: #000 !important;
}
